@use "@/app/(client)/scss/variables" as *;

header {
  width: 100vw;
  padding: 0 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid $light;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $dark;
  z-index: 999;
  transition: transform 200ms ease-in-out;

  a {
    color: $link;

    &:hover {
      color: $hover;
    }
  }

  .account {
    display: flex;
    align-items: center;
    gap: 2vw;
  }

  .sign-in {
    a {
      background-color: $link;
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      color: $dark;

      &:hover {
        background-color: $hover;
      }
    }
  }
}

.scrollDown {
  transform: translateY(-50px);
  transition: transform 200ms ease-in-out;
}
