@use "@/app/(client)/scss/variables" as *;

#dashboard {
  margin: 50px 0;
  padding: 0 4vw;
  width: 100vw;
  max-width: 100%;

  #adminDashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 200px;
      height: 40px;
      margin: 10px 0;
      background-color: $link;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: $hover;
      }
    }

    .all {
      width: 100%;
      display: flex;
      height: 60px;
      align-items: center;
      gap: 10px;
      overflow-x: scroll;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 0 4vw;
        background-color: $link;
        border-radius: 20px;

        &:hover {
          background-color: $hover;
        }

        h4 {
          color: $dark;
        }
      }
    }

    .projects {
      .project-images {
        display: grid;
        grid-template-columns: 1fr;

        .img-container {
          position: relative;
          width: 100vw;
          aspect-ratio: 2/3;

          img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

//*------------> tablet

@media screen and (min-width: 820px) {
  #dashboard {
    #adminDashboard {
      .all {
        overflow-x: auto;
      }
    }
  }
}

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #dashboard {
    #adminDashboard {
      .all {
        height: 60px;
        a {
          width: 100px;
        }
      }
      .projects {
        .project-images {
          grid-template-columns: 1fr 1fr 1fr;

          .img-container {
            width: 400px;
          }
        }
      }
    }
  }
}
