@use "@/app/(client)/scss/variables" as *;

#project {
  margin: 50px 0;
  width: 100vw;
  padding: 0 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;

    button {
      width: 200px;
      height: 40px;
      margin: 20px 0;
      background-color: $link;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: $hover;
      }
    }
  }

  .project-images {
    display: grid;
    grid-template-columns: 1fr;

    .img-container {
      position: relative;
      width: 100vw;
      aspect-ratio: 2/3;
    }
  }
}

/* 
//*------------> tablet

@media screen and (min-width: 820px) {

}

 */

//*---------->> desktop

@media screen and (min-width: 1025px) {
  #project {
    .title {
      width: auto;
    }
    .project-images {
      grid-template-columns: 1fr 1fr 1fr;

      .img-container {
        width: 400px;
      }
    }
  }
}
